@import "./../../../App.scss";
.container{
    background-color: $white;
    height: 700px;
    padding:25px;
    box-sizing:border-box;
    overflow-y: scroll;
    box-shadow: 0 0 10px $main;
    border-radius: 25px;
    &::-webkit-scrollbar {
        width:0px
    }
    .tableHead{
        div{
        display: flex;
        justify-content: center;
        align-items: center;
        }
        span{
            text-align: center;
            color:$main;
        }
    }
}
@media(max-width:766px){
    .container .tableHead{
      display: none;
    }
}