@import "~bootstrap/scss/bootstrap";
$bg:#F8F7FC;
$main:#0057BE;
$button:#0057BE;
$button-hover: rgba(0, 87, 190, 0.1);
$error:rgb(221, 58, 58);
body{
    background-color:$bg;
    // overflow-x: hidden;
}
h1{
    margin-bottom: 50px;
    text-align: center;
    color:$main;
}
a { 
    padding: 6px;
    color:$button;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
.image{
    position: fixed;
    left:75px;
    top: 75px;
    object-fit: cover;
    object-position: center;
    width: 250px;
    height: 250px;

    border-radius: 50%;
}
.button{
    min-width: 80px;
    background-color: $button;
    border-color: $button-hover;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin-bottom: 15px;
    &:hover{
            background-color: $button-hover;
            border-color: $button-hover;
            color:$button;
    }
}

form {
    position: relative;
    max-width: 650px;
    height: 390px;
    margin: 0 auto 20px auto;
    border-radius: 20px;
    padding: 35px;
    box-shadow: 0 0 10px $main;
}
.toast{
position: fixed;
right: 25px;
bottom: 25px;
box-shadow: 0 0 10px $error;
border-radius: 15px;
min-width: 250px;
}
.toast-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
.fade{
    border-radius: 15px;
}
.card{
    position: relative;
    box-shadow: 0 0 10px $main;
    border-radius: 20px;
    max-width: 650px;
    padding: 15px;
    &::after{
        position: absolute;
        left: 50%;
        top: -100px;
        transform: translate(-50%,0);
        content: "Welcome!";
        color: $main;
        font-size: 35px;
    }
}
.card-title{
    color:$main;
}
.wr-buttons{
    position: absolute;
    left:30px;
    bottom: 20px;
}