@import "./../../../App.scss";
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 650px;
}
.form{
    position: relative;
}
.form:after{
content: "Sign up";
position: absolute;
left: 50%;
top: -100px;
transform: translate(-50%,0);
color: $main;
font-size: 35px;
}
