.controlPanel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    svg{
       width: 17px;
        path{
            fill:white;
        }
    }
}
@media(max-width:576px){
    .controlPanel{
       flex-direction: column-reverse;}
}